.indicator-section {
  width: 100%;
  margin: 4.5rem 0 0 0;
  font-family: 'Open Sans', sans-serif;
}

.indicator-section--title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.0625rem;
  color: #1c1c1c;
  padding-left: 1rem;
  max-width: 1098px;
  margin: 0 auto;
}

.indicator-section--indicators {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.125rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 0 1rem;
  width: 100%;
  flex-wrap: nowrap;
}

.indicator-section--card {
  min-width: 17rem;
  max-width: 17rem;
  background: #fafafa;
  color: #fff;
}

.indicator-section--card:hover {
  background-color: #096c76;
}

.indicator-section--card:hover .indicator-section--card-header {
  color: #ffffff;
}

.indicator-section--card:hover .indicator-section--card-divider {
  background-color: rgba(255, 255, 255, 0.28);
}

.indicator-section--card:hover .indicator-section--card-body-value {
  color: #9cf0cd;
}

.indicator-section--card:hover .indicator-section--card-body-description {
  color: #ffffff;
}

.indicator-section--card:hover .indicator-section--card-footer {
  color: #9cf0cd;
}

.indicator-section--card-divider {
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.28);
}

.indicator-section--card-header {
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: -0.0625rem;
  color: #1c1c1c;
  padding: 2rem 1.125rem 1.25rem 1.125rem;
}

.indicator-section--card-body {
  max-height: 16rem;
  padding: 1.75rem 1.125rem 0;
}

.indicator-section--card-body-value {
  font-size: 7.375rem;
  line-height: 100%;
  letter-spacing: -0.25rem;
  color: #096c76;
}

.indicator-section--card-body-value-unit {
  font-size: 2.25rem;
  line-height: 100%;
}

.indicator-section--card-body-description {
  font-size: 0.875rem;
  letter-spacing: -0.0625rem;
  color: #7b7b7b;
  margin-top: 1.25rem;
}

.indicator-section--card-footer {
  font-size: 0.75rem;
  letter-spacing: -0.0625rem;
  color: #096c76;
  padding: 1.75rem 1.25rem 1.25rem;
}

.indicator-section--indicators-arrows-wrapper {
  display: flex;
  gap: 0.875rem;
  padding-left: 1rem;
  max-width: 1098px;
  margin: 1.5rem auto 0;
}

.indicator-section--indicators-arrow-button {
  width: 2.625rem;
  height: 2.625rem;
  border: 1.5px solid #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.indicator-section--indicators-arrow-button.active {
  background-color: #000;
}

.indicator-section--indicators-arrow-icon {
  width: 1rem;
  height: 1rem;
}

.indicator-section--indicators-arrow-icon.active {
  color: #fff;
}

/* Breakpoint 960px */
@media (min-width: 960px) {
  .indicator-section {
    margin-top: 11rem;
  }

  .indicator-section--title {
    font-size: 2.5rem;
    line-height: 3.25rem;
    padding-left: 4.5rem;
  }

  .indicator-section--indicators {
    margin-top: 4.5rem;
    gap: 2rem;
    padding-left: max(4.5rem, calc((100% - 1098px + 144px) / 2));
  }

  .indicator-section--card {
    min-width: 22rem;
    max-width: 22rem;
    border-radius: 1.5rem;
  }

  .indicator-section--card-header {
    font-size: 1.5rem;
    padding: 2.5rem 8.5rem 1.625rem 2rem;
    text-wrap: nowrap;
  }

  .indicator-section--card-body {
    min-height: 18.875rem;
    padding: 4rem 2rem 0;
  }

  .indicator-section--card-body-value {
    font-size: 8.5rem;
    line-height: 100%;
    letter-spacing: 0;
  }

  .indicator-section--card-body-value-unit {
    font-size: 3rem;
    line-height: 100%;
  }

  .indicator-section--card-body-description {
    font-size: 1rem;
    line-height: 1.125rem;
    margin-top: 1.5rem;
  }

  .indicator-section--card-footer {
    font-size: 0.875rem;
    line-height: 100%;
    padding: 1.5rem 2rem 2rem;
  }

  .indicator-section--indicators-arrows-wrapper {
    display: flex;
    gap: 1rem;
    padding-left: 4.5rem;
    margin: 2.5rem auto 0;
  }

  .indicator-section--indicators-arrow-button {
    width: 4.25rem;
    height: 4.25rem;
  }

  .indicator-section--indicators-arrow-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
