.header--navbar {
  height: 4.625rem;
  padding: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.header--navbar > header {
  padding: 0;
}

.header--logo-link {
  width: 100%;
}

.header--logo {
  height: 1.25rem;
  margin-top: 1.125rem;
}

.header--menu-large {
  display: none;
}

.header--menu-icon {
  height: 1.25rem;
  margin-top: 1.125rem;
}

.header--menu {
  padding-left: 0;
  padding-right: 0;
  gap: 0;
}

.header--menu-item-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.25rem;
  letter-spacing: -0.0625rem;
  color: #1c1c1c;
  border: none;
  background: none;
  border-bottom: 0.5px solid #d4d4d4;
  padding: 1rem;
  cursor: pointer;
  text-align: left;
}

.header--menu-item-chevron {
  opacity: 0;
  visibility: hidden;
  animation: none;
}

@keyframes showChevron {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(2px);
  }
}

a:hover > .header--menu-item-chevron {
  animation: showChevron 0.25s ease-in-out forwards;
}

/* Breakpoint 960px */
@media (min-width: 960px) {
  .header--navbar {
    height: 6.625rem;
    padding: 0 4.5rem;
  }

  .header--logo {
    height: 1.5rem;
    margin-top: 2rem;
  }

  .header--menu-large {
    display: flex;
    height: 1.5rem;
    margin-top: 2rem;
  }

  .header--menu-large-item-link {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: -0.03125rem;
    color: #7b7b7b;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }

  .header--menu-large-item-link-selected {
    font-weight: 600;
    color: #096c76;
  }

  .header--menu-icon {
    display: none;
  }
}
