.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 41.5rem;
  gap: 1.5rem;
  margin-top: 3rem;
}

.contact-form-title {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #1c1c1c;
}

.contact-form-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form-fields-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact--inputWrapper {
  height: 3.625rem;
  width: 100%;
  border: 1px solid #d8d8d8;
  padding-left: 1rem;
  padding-right: 0.5rem;
  background-color: transparent;
  box-shadow: none;
}

.contact--input {
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0px;
  color: #1c1c1c;
}

.contact--input::placeholder {
  background-color: transparent;
  color: #aaaaaa;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0px;
}

.contact--textareaWrapper {
  height: 14.5rem !important;
  width: 100%;
  border: 1px solid #d8d8d8;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.375rem;
  background-color: transparent;
  box-shadow: none;
}

.contact--textarea {
  height: 100% !important;
  max-height: 100% !important;
  font-size: 1rem;
}

.contact--textarea::placeholder {
  background-color: transparent;
  color: #aaaaaa;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0px;
}

.contact--textarea-count {
  position: absolute;
  bottom: -1.5rem;
  right: 0;
  font-size: 0.875rem;
  color: #3d3d3d;
}

.contact--textarea-count-max {
  color: #c6c6c6;
}

.contact--send-button {
  height: 2.625rem;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #9cf0cd;
  border-radius: 0.625rem;
  padding: 0 1.5rem;
}

.contact--send-button-sending {
  box-sizing: content-box;
}

.contact--send-button-success {
  background-color: #096c76;
  opacity: 1;
  color: #fff;
  box-sizing: content-box;
}

/* Breakpoint 960px */
@media (min-width: 960px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 41.5rem;
    gap: 2.5rem;
    margin-top: 6rem;
  }

  .contact-form-title {
    font-size: 0.875rem;
  }

  .contact-form-fields-inputs {
    flex-direction: row;
  }

  .contact--inputWrapper {
    height: 4rem;
    padding-left: 1.5rem;
  }

  .contact--input {
    font-size: 1rem;
  }

  .contact--input::placeholder {
    font-size: 1rem;
  }

  .contact--textareaWrapper {
    padding-left: 1.5rem;
  }

  .contact--textarea {
    font-size: 1rem;
  }

  .contact--textarea::placeholder {
    font-size: 1rem;
  }

  .contact--textarea-count {
    bottom: -1.75rem;
  }

  .contact--send-button {
    height: 3.125rem;
    top: -1rem;
    padding: 0 1.75rem;
  }
}
